*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f6fa;
  color: #333;
}

header {
  background-color: #1E2836;
  color: white;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.main h2{
  margin: 20px 20px;
}

.sidebar {
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a{
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-weight: bold;
}

#lgnav {
  border-top: 2px solid #ddd;
}

.sidebar a:hover {
  background-color: #f0f0f0;
  border-radius: 6px;
}

.logo {
  height: 40px;
}

#logout{
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

#AddUserBtn {
  background: #6a55f2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  float: right;
  margin-right: 20px;
}

#AddUserBtn:hover {
  background: #5945d8;
}

#userList {
  margin-top: 50px;
  align-items: center;
}

#userList table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  padding: 30px;
  background-color: #fff;
}

#userList th, #userList td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
}

#userList th {
  background-color: #1E2836;
  color: white;
}