    body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .Title {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px 20px;
    }

    .logo {
    height: 40px;
    margin-right: 10px;
    }

    header {
    font-size: 20px;
    font-weight: bold;
    }

    .sidebar {
      width: 220px;
      background-color: #ffffff;
      color: #000000;
      padding-top: 20px;
      position: fixed;
      bottom: 0;
      top: 60px;
    }

    .sidebar h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
    }

    .sidebar a {
      padding: 12px 20px;
      text-decoration: none;
      color: #ecf0f1;
      display: block;
      transition: background 0.3s;
    }

    .sidebar a:hover {
      background-color: #34495e;
    }

    .sidebar a.active {
      background-color: #1abc9c;
      color: #fff;
    }

    .main {
      flex: 1;
      padding: 20px;
      background-color: #f4f6f7;
      margin: 60px 0 0 220px;
    }

    .main h1 {
      margin-top: 0;
    }

    #lgnav{
        border-top: 1px solid #7f8c8d;
    }

    #AddUserBtn {
      background-color: navy;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      margin-bottom: 20px;
    }